.gradient-text {
  background: linear-gradient(90deg, #ffebba, #ffc334);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text::before {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position it absolutely */
  left: 15%;
  top: 49%;
  transform: translate(-50%, -50%) skew(-20deg, 0deg); /* Skew the shape */
  width: 100px;
  height: 50px;
  background: linear-gradient(
    275.42deg,
    rgba(255, 211, 56, 0.3) 3.31%,
    rgba(255, 255, 255, 0.3) 116.11%
  ); /* Gradient with transparency */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Add a shadow for 3D effect */
}

.text-grad-hero::before {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position it absolutely */
  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%) skew(-20deg, 0deg); /* Skew the shape */
  width: 100px;
  height: 50px;
  background: linear-gradient(
    275.42deg,
    rgba(234, 184, 5, 0.3) 3.31%,
    rgba(255, 255, 255, 0.3) 116.11%
  ); /* Gradient with transparency */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.gradient-text-two {
  background: linear-gradient(275.42deg, #ffd338 3.31%, #ffffff 116.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-two::before {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position it absolutely */
  left: 50%;
  transform: translate(-50%, -50%); /* Center it */
  border-radius: 50%;
  box-shadow: 0 0 500px 100px rgba(255, 211, 56, 0.7);
}

.custom-select {
  min-width: 590px;
}

/* Target the horizontal scrollbar */
::-webkit-scrollbar {
  height: 12px; /* Height of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc334;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc334; /* Color of the handle on hover */
}
